@qure:registry=https://qurenpm.qure.ai/
@ohif:registry=https://qurenpm.qure.ai/
registry=https://registry.npmjs.org/
//qurenpm.qure.ai/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJhamR1a2UiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwibmFtZSI6ImFqZHVrZSIsImdyb3VwcyI6WyJhamR1a2UiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJhamR1a2UiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjg0MjQ1MjU0LCJuYmYiOjE2ODQyNDUyNTUsImV4cCI6MTY4OTQyOTI1NH0.LbkStreYcpxjlZbvaFTFSgz4ek3Sflx4psFuTAGRbgs
network-timeout=100000000
